// SCSS for the accordion

// Style for the accordion container
.accordion {
    .section {
        .summary-content {
            display: none;
            padding: 10px;
        }

        button {
            &:focus + .summary-content  {
                display: block;
            }

            &:not(:focus) + .summary-content {
                display: none;
            }
        }

    }
}
