.posts {
  width: 100%;
  max-width: var(--content-width);
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  /*@media #{$media-size-tablet} {
    max-width: 660px;
  }*/

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid var(--border-color);
  
    [data-theme=dark] & {
      border-bottom: 1px solid var(--border-color);
    }
  
    [data-theme=light] & {
      border-bottom: 1px solid var(--border-color);
    }
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;
    flex-direction: column;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1.375rem;
      margin: 5px 0 5px 0;

    }

    &-year {
      padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;
    }

    &-item {
      border-bottom: 1px var(--post-item-border-color) solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 1.063rem 0;

      [data-theme=dark] & {
        border-bottom: 1px var(--post-item-border-color) solid;
      }

      [data-theme=light] & {
        border-bottom: 1px var(--post-item-border-color) solid;
      }

      a {
        text-decoration: underline;
        font-weight: 900;
        color: var(--href-color);
        text-decoration-color: var(--accent);
      
        &:hover {
          color: var(--href-color-hover);
        }
      }

    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      color: var(--post-item-day-color);
      font-weight: normal;

      [data-theme=dark] & {
        color: var(--post-item-day-color);
      }

      [data-theme=light] & {
        color: var(--post-item-day-color);
      }
    }
  }

  .tags {
    grid-gap: 8px;
    grid-template-columns: repeat(3,1fr);
    display: grid;

    @media #{$media-size-phone} {
      grid-template-columns: repeat(2,1fr);
    }

    a {
      padding: 5px 10px;
      text-decoration: none;
      font-weight: 400;
      font-size: .8em;
      font-weight: 600;
      text-align: center;

      background-color: var(--new-button-bg);
      color: var(--new-button-text);
      border-radius: 8px;

      &:hover {
        color: var(--new-button-text-hover);
        background-color: var(--new-button-bg-hover);
      }
    }
  }

  
}
