.posts {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid $light-border-color;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $dark-border-color;
    }
  
    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid $light-border-color;
    }
  
    [data-theme=dark] & {
      border-bottom: 1px solid $dark-border-color;
    }
  
    [data-theme=light] & {
      border-bottom: 1px solid $light-border-color;
    }
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;
    flex-direction: column;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1.375rem;
      margin: 5px 0 5px 0;

    }

    &-year {
      padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;
    }

    &-item {
      border-bottom: 1px var(--macchiato-Surface1) solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 1.063rem 0;

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px var(--macchiato-Surface1) solid;
      }

      [data-theme=dark] & {
        border-bottom: 1px var(--macchiato-Surface1) solid;
      }

      @media (prefers-color-scheme: light) {
        border-bottom: 1px var(--latte-Surface1) solid;
      }

      [data-theme=light] & {
        border-bottom: 1px var(--latte-Surface1) solid;
      }

      a {
        text-decoration: underline;
        font-weight: 900;

        &:hover {
          background-color: $dark-menu-hover-color;
          color: $dark-background;
          text-decoration: none;

          @media (prefers-color-scheme: dark) {
            background-color: $dark-menu-hover-color;
            color: $dark-background;
          }
      
          @media (prefers-color-scheme: light) {
            background-color: $light-menu-hover-color;
            color: $light-background;
          }
      
          [data-theme=dark] & {
            background-color: $dark-menu-hover-color;
            color: $dark-background;
          }
          
          [data-theme=light] & {
            background-color: $light-menu-hover-color;
            color: $light-background;
          }

        }
      }

    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      color: var(--macchiato-Green);
      font-weight: normal;

      @media (prefers-color-scheme: dark) {
        color: var(--macchiato-Green);
      }

      [data-theme=dark] & {
        color: var(--macchiato-Green);
      }

      @media (prefers-color-scheme: light) {
        color: var(--latte-Subtext0);
      }

      [data-theme=light] & {
        color: var(--latte-Subtext0);
      }
    }
  }

  .tags {
    grid-gap: 8px;
    grid-template-columns: repeat(3,1fr);
    display: grid;

    @media #{$media-size-phone} {
      grid-template-columns: repeat(2,1fr);
    }

    a {
      padding: 5px 10px;
      text-decoration: none;
      font-weight: 400;
      font-size: .8em;
      font-weight: 600;
      text-align: center;

      background-color: var(--latte-Sky);
      color: var(--latte-Base);
      border-radius: 8px;

      &:hover {
        color: var(--macchiato-Base);
        background-color: var(--latte-Pink);
      }
    }
  }

  .statuslog {
    margin: 8px 0 0 0;
    p {
      padding: 0;
      margin: 0;
      display: inline;
    }

    &-links {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 8px;
      a {
        font-size: .8em;
        color: var(--latte-Pink);
      }
    }
  }
}
