.microblog-header {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: 0 auto;
    gap: .3rem;
    padding: 0 20px;
    margin: 2em 0;

    h2 {
        margin: 0;
        padding: 0;
    }

    .baffle {
        margin: 0;
        padding: 0;
    }
}

.microblog {
    text-align: start;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;

    &-item {
        margin-bottom: 2em;

        &-content {
            [data-theme=dark] & {
                color: $light-background;
            }
    
            img {
                margin: 0 auto;
                display: block;
                border-radius: 8px;
                overflow: hidden;
                width: 100%;
                height: auto;
            }
        
            p {
                margin: 0;
                padding: 0;
            }
        }
        
        &-date {
            color: var(--latte-Pink);
            margin-bottom: .5rem;
            font-size: .8rem;
            
            a {
                text-decoration: none;
            }
        }
    }
}