.epg {
    color: var(--posts-graph-text-color);
    margin: 20px 0;
    font-size: 0.8em;

    [data-theme=dark] & {
        color: var(--posts-graph-text-color);
    }
    
    [data-theme=light] & {
        color: var(--posts-graph-text-color);
    }

    &__year {
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__months {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__squares {
        display: grid;
        grid-column-start: 2;
        grid-template-rows: repeat(7, 1fr);
        grid-auto-flow: column;
        margin-bottom: 10px;
        grid-gap: 2px;
    }

    &__box {
        aspect-ratio: 1 / 1;
        background: var(--page-background);
    
        [data-theme=dark] & {
            background: var(--page-background);
        }
        
        [data-theme=light] & {
            background: var(--page-background);
        }
    }

    &__box--empty {
        background: none;
    }

    &__hasPost {
        background: var(--posts-graph-box-has-post-color);
    }
}