.post {
  width: 100%;
  max-width: var(--content-width);
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  /*@media #{$media-size-tablet} {
    max-width: 600px;
  }*/

  h1 {
    color: var(--h1-color);

    [data-theme=dark] & {
      color: var(--h1-color);
    }

    [data-theme=light] & {
      color: var(--h1-color);
    }
  }

  h2 {
    color: var(--h2-color);

    [data-theme=dark] & {
      color: var(--h2-color);
    }

    [data-theme=light] & {
      color: var(--h2-color);
    }
  }

  h3 {
    color: var(--h3-color);

    [data-theme=dark] & {
      color: var(--h3-color);
    }

    [data-theme=light] & {
      color: var(--h3-color);
    }
  }

  h4 {
    color: var(--h4-color);

    [data-theme=dark] & {
      color: var(--h4-color);
    }

    [data-theme=light] & {
      color: var(--h4-color);
    }
  }

  h5,h6 {
    color: var(--h-color);

    [data-theme=dark] & {
      color: var(--h-color);
    }

    [data-theme=light] & {
      color: var(--h-color);
    }
  }

  &-date {
    &:after {
      content: '—';
    }
  }

  &-headline {
    font-family: 'VC Honey Deck', 'Noto Serif KR', serif;
    font-weight: 700;
  }

  &-title {
    font-size: 3rem;
    line-height: 1.3;
    margin: 0 0 20px;
    @media #{$media-size-phone} {
      font-size: 2rem;
    }


    a {
      text-decoration: none;
    }
  }

  &-tags {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    opacity: 0.5;

    a {
      text-decoration: none;
    }
  }

  &-content {
    margin-top: 30px;
    font-family: 'Lato', 'Noto Sans KR', sans-serif;

    ul li::marker {
      color: var(--list-marker-color);
  
      [data-theme=dark] & {
        color: var(--list-marker-color);
      }
      
      [data-theme=light] & {
        color: var(--list-marker-color);
      }
    }

    a {
      color: var(--href-color);
      text-decoration: underline;
      text-decoration-color: var(--accent);
      font-weight: 600;
    
      &:hover {
        color: var(--href-color-hover);
      }
    }

    p {
      img {
        margin: 0 auto;
        display: block;
        border-radius: 8px;
        overflow: hidden;
      }
    }

  }

  &-cover {
    border-radius: 8px;
    margin: 40px -50px;
    width: var(--cover-width);
    max-width: var(--cover-width);
    overflow: hidden;
    @media #{$media-size-tablet} {
      margin: 20px 0;
      width: 100%;
    }
  }

  &-excerpt {
    color: grey;
    font-style: italic;
  }

  &-info {
    margin-top: 30px;
    font-size: 0.8rem;
    line-height: normal;
    color: var(--post-info-color);

    @media (prefers-color-scheme: light) {
      @include dimmed;
    }

    [data-theme=dark] & {
      color: var(--post-info-color);
    }
    
    [data-theme=light] & {
      color: var(--post-info-color);
      @include dimmed;
    }

    p {
      margin: 0.8em 0;
    }

    a:hover {
      border-bottom: 1px solid white;
    }

    svg {
      margin-right: 0.8em;
    }

    .tag {
      margin-right: 0.5em;

      &::before {
        content: "#";
      }
    }

    .category {
      margin-right: 0.5em;

      &::before {
        content: "$";
      }
    }

    .serie {
      margin-right: 0.5em;

      &::before {
        content: "&";
      }
    }

    .series {
      margin-right: 0.5em;
    }

    .feather {
      display: inline-block;
      vertical-align: -.125em;
      width: 1em;
      height: 1em;
    }
  }

  &-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    audio {
      width: 90%;
    }
  }

  .flag {
    border-radius: 50%;
    margin: 0 5px;
  }

  &-nav {
    grid-gap: 8px;
    grid-template-columns: repeat(2,1fr);
    display: grid;

    @media #{$media-size-phone} {
      grid-template-columns: repeat(1,1fr);
    }

    a {
      padding: 5px 10px;
      text-decoration: none;
      font-weight: 400;
      font-size: .8em;
      font-weight: 600;
      text-align: center;

      background-color: var(--new-button-bg);
      color: var(--new-button-text);
      border-radius: 8px;

      &:hover {
        color: var(--new-button-text-hover);
        background-color: var(--new-button-bg-hover);
      }
    }
  }
}

.support {
  margin-top: 20px;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.email-reply {
  margin: 40px 0px;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.pagination {
  margin-top: 20px;

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 20px 0;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      font-size: 0.8rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1em;
      z-index: 1;
      // Default
      background: var(--content-background);
      color: var(--text-secondary);
    
      [data-theme=dark] & {
        background: var(--content-background);
        color: var(--text-secondary);
      }
    
      [data-theme=light] & {
        background: var(--content-background);
        color: var(--text-secondary);
      }
    }

    hr {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 15px;
      z-index: 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  max-width: 40%;
  padding: 0;
  cursor: pointer;
  appearance: none;
  // Default
  background: var(--page-background);

  [data-theme=dark] & {
    background: var(--page-background);
  }

  [data-theme=light] & {
    background: var(--page-background);
  }

  + .button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: 8px;
  }

  &.previous .button__icon {
    margin-right: 8px;
  }
}
