@charset "UTF-8";

// KEEP -->
$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

//light theme Latte
$latte-base: #eff1f5;
$latte-mantle: #e6e9ef;
// $latte-sky: #04a5e5; ---> accent
// $latte-pink: #ea76cb; --> accent hover
$latte-text: #4c4f69;
$latte-subtext0: #6c6f85;
$latte-surface0: #ccd0da;
$latte-surface1: #bcc0cc;
$latte-yellow: #df8e1d;
$latte-green: #40a02b;
$latte-mauve: #8839ef;

// dark theme Machiato
$machiato-base: #24273a;
$machiato-mantle: #1e2030;
$machiato-text: #cad3f5;
$machiato-subtext0: #a5adcb;
$machiato-surface0: #363a4f;
$machiato-surface1: #494d64;
$machiato-crust: #181926;
$machiato-green: #a6da95;
$machiato-pink: #f5bde6;
$machiato-red: #ed8796;
$machiato-rosewater: #f4dbd6;

// calculated
$button-bg: mix($accent-hover, $accent, 2%);
$dark-base: mix($accent, #1e1e2e, 1%);
$dark-mantle: mix($accent, #181825, 1%);
$light-base: mix($accent, #eff1f5, 1%);
$light-mantle: mix($accent, #e6e9ef, 1%);

$light-text: mix($accent,$latte-text, 15%);
$light-subtext: mix($accent,$latte-subtext0, 15%);
$dark-text: mix($accent,$machiato-text, 15%);
$dark-subtext: mix($accent,$latte-subtext0, 15%);

$code-dark: mix($accent-hover, #1e1e2e, 15%);
$code-dark-text: mix($accent-hover,$machiato-text, 75%);
$code-light: mix($accent-hover, #e6e9ef, 10%);
$code-light-text: mix($accent-hover, $latte-text, 60%);

// <-- KEEP

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --header-width: 1200px;
  --content-width: 800px;
  --cover-width: 860px;
  --radius: .5rem;

  // new -->
  --page-background: #{$light-mantle};
  --content-background: #{$light-base};
  --code-background: #{$code-light};
  --code-text: #{$code-light-text};

  --accent : #{$accent};
  --accent-hover : #{$accent-hover};

  // text
  --text: #{$light-text};
  --text-variant: #{$light-text};
  --text-secondary: #{$light-subtext};

  --post-info-color: #{$latte-text};

  // headings
  --h1-color: #{$accent};
  --h2-color: #{$accent-hover};
  --h3-color: #{$latte-text};
  --h4-color: #{$latte-text};
  --h-color: #{$latte-text};

  // borders
  --border-color: #{$latte-surface0};
  --table-border-color: #{$latte-surface0};

  // lists
  --post-item-border-color: #{$latte-surface1};
  --post-item-link-hover-color: #{$accent-hover}; // both schemes
  --post-item-link-hover-text: #{$machiato-base}; // both schemes
  --post-item-day-color: #{$latte-subtext0};

  --post-items-count-color: #{$latte-green};

  --list-marker-color: #{$latte-text};

  // posts graph
  --posts-graph-text-color: #{$latte-text};
  --posts-graph-box-has-post-color: #{$accent}; // both schemes

  // href
  --href-color: #{$machiato-base}; // href color and href hover 
  --href-color-hover: #{$accent-hover};

  // same on both themes -->
  --new-button-bg: #{$button-bg};
  --new-button-bg-hover: #{$accent-hover};
  --new-button-text: #{$latte-base};
  --new-button-text-hover: #{$machiato-base};

  // details
  --details-bg: #{$latte-yellow};
  --details-text: #{$machiato-crust};

  // statuslog
  --statuslog-info-link-color: #{$accent-hover};
  --statuslog-info-count-color: #{$accent-hover};
  --statuslog-items-links-color: #{$accent-hover}; // both schemes

  //profile
  --profile-badge-color: #{$machiato-red};
  // <-- new
}

@media (prefers-color-scheme: dark) {
  :root {

    // new -->
    --page-background: #{$dark-base}; // page & header
    --content-background: #{$dark-mantle}; // content
    --code-background: #{$code-dark};
    --code-text: #{$code-dark-text};

    // text
    --text: #{$dark-text};
    --text-variant: #{$dark-text};
    --text-secondary: #{$dark-subtext};

    --post-info-color: #{$machiato-rosewater};

    --new-button-text: #{$machiato-base};

    // headings
    --h3-color: #{$machiato-text};
    --h4-color: #{$machiato-text};
    --h-color: #{$machiato-text};

    // borders
    --border-color: #{$machiato-surface0};
    --table-border-color: #{$machiato-surface0};

    //lists
    --post-item-border-color: #{$machiato-surface1};
    --post-item-day-color: #{$accent-hover};

    --post-items-count-color: #{$machiato-green};

    --list-marker-color: #{$machiato-pink};

    // posts graph
    --posts-graph-text-color: #{$machiato-text};

    // href
    --href-color: #eff1f5; // href color and href hover bg

    // statuslog
    --statuslog-info-link-color: #{$accent-hover};
    --statuslog-info-count-color: #{$accent-hover};
    // <-- new
  }
}
