<main aria-role="main">
    <div class="profile">
        {{ if .Site.Params.Portrait.Path }}
            {{ $cacheKey := print .Site.Params.Portrait.Path (now.Format "Mon, 02 Jan 2006 15:04:05 MST") }}
            {{ with resources.GetRemote .Site.Params.Portrait.Path (dict "key" $cacheKey) }}
            {{ $portrait := .Resize "250x webp q90" }}

                <img src="data: {{ $portrait.MediaType }};base64, {{ $portrait.Content | base64Encode }}" class="circle" alt="{{ site.Params.Portrait.Alt }}" style="max-width:{{ site.Params.Portrait.MaxWidth }}" />
            {{ end }}
        {{ end }}

        <div class="profile-title">
            <div class="prfile-title__container">
                <h1>{{ .Site.Title }}</h1>
            </div>
            {{ if eq .Site.Params.Proven.Enabled true }}
            <div class="profile-title__badge">
                <a href="https://proven.lol/{{ .Site.Params.Proven.Id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                </a>
            </div>
            {{ end }}
        </div>

        {{- with .Site.Params.homeSubtitle }}
            {{ partial "subtitle.html" . }}
        {{- end }}

        {{- with .Site.Params.social }}
            <div>
                {{ partial "social-icons.html" . }}
            </div>
        {{- end }}
    </div>
</main>