<main aria-role="main">
    <div class="profile">
        {{ if .Site.Params.Portrait.Path }}
            {{ $cacheKey := print .Site.Params.Portrait.Path (now.Format "Mon, 02 Jan 2006 15:04:05 MST") }}
            {{ with resources.GetRemote .Site.Params.Portrait.Path (dict "key" $cacheKey) }}
            {{ $portrait := .Resize "250x webp q90" }}

                <img src="data: {{ $portrait.MediaType }};base64, {{ $portrait.Content | base64Encode }}" class="circle" alt="{{ site.Params.Portrait.Alt }}" style="max-width:{{ site.Params.Portrait.MaxWidth }}" />
            {{ end }}
        {{ end }}

        <div class="profile-title">
            <div class="prfile-title__container">
                <h1>{{ .Site.Title }}</h1>
            </div>
            {{ if eq .Site.Params.Proven.Enabled true }}
            <div class="profile-title__badge">
                <a href="https://proven.lol/{{ .Site.Params.Proven.Id }}">
                    {{ with resources.Get "img/prami-badge.svg" }}
                    <div style="width: 100%; height: 100%;">
                        <img src="data: {{ .MediaType }};base64, {{ .Content | base64Encode}}" alt="Proven" style="width: .8em; display: inline-block;"/>
                    </div>
                        
                    {{ end }}
                </a>
            </div>
            {{ end }}
        </div>

        {{- with .Site.Params.homeSubtitle }}
            {{ partial "subtitle.html" . }}
        {{- end }}

        {{- with .Site.Params.social }}
            <div>
                {{ partial "social-icons.html" . }}
            </div>
        {{- end }}
    </div>
</main>