<main aria-role="main">
    <div class="profile">
        {{ if .Site.Params.Portrait.Path }}
            {{ $cacheKey := print .Site.Params.Portrait.Path (now.Format "Mon, 02 Jan 2006 15:04:05 MST") }}
            {{ with resources.GetRemote .Site.Params.Portrait.Path (dict "key" $cacheKey) }}
            {{ $portrait := .Resize "250x webp q90" }}

                <img src="data: {{ $portrait.MediaType }};base64, {{ $portrait.Content | base64Encode }}" class="circle" alt="{{ site.Params.Portrait.Alt }}" style="max-width:{{ site.Params.Portrait.MaxWidth }}" />
            {{ end }}
        {{ end }}

        <div class="profile-title">
            <div class="prfile-title__container">
                <h1>{{ .Site.Title }}</h1>
            </div>
            {{ if eq .Site.Params.Proven.Enabled true }}
            <div class="profile-title__badge">
                <a href="https://proven.lol/{{ .Site.Params.Proven.Id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                    </svg>
                </a>
            </div>
            {{ end }}
        </div>

        {{- with .Site.Params.homeSubtitle }}
            {{ partial "subtitle.html" . }}
        {{- end }}

        {{- with .Site.Params.social }}
            <div>
                {{ partial "social-icons.html" . }}
            </div>
        {{- end }}
    </div>
</main>