<div class="microblog-header">
    <div>
        {{ if .Site.Params.Portrait.Path }}
            {{ $cacheKey := print .Site.Params.Portrait.Path (now.Format "Mon, 02 Jan 2006 15:04:05 MST") }}
            {{ with resources.GetRemote .Site.Params.Portrait.Path (dict "key" $cacheKey) }}
            {{ $portrait := .Resize "250x webp q90" }}
                <img src="data: {{ $portrait.MediaType }};base64, {{ $portrait.Content | base64Encode }}" class="circle" alt="{{ site.Params.Portrait.Alt }}" style="width:80px; height:80px" />
            {{ end }}
        {{ end }}
    </div>
    <div>
        <h2>{{ .Site.Title }}</h2>
        {{- with .Site.Params.homeSubtitle }}
            {{ partial "subtitle.html" . }}
        {{- end }}
    </div>
</div>
<div class="microblog">
    {{ range where .Site.Pages.ByDate.Reverse "Type" .Site.Params.microblogDefaultPostType  }}
        <div class="microblog-item">
            <div class="microblog-item-date">
                <a href="{{ .Permalink }}">{{ .Date.Format "Jan 02, 2006" }}</a>
            </div>
            <div class="microblog-item-content">
                {{ .Content }}
            </div>
        </div>
    {{ end }}
</div>