{{ define "main" }}    
    <main class="posts">
        {{ $count := len .Data.Pages }}
        I have sent a total of
        {{ if (eq $count 1) }}
            <span class="statuslog-count">{{ $count }}</span> status.
        {{ else }}
            <span class="statuslog-count">{{ $count }}</span> statuses so far.
        {{ end }}

        <h1 class="post-headline mt-0">{{ .Title }}</h1>

        <div class="statuslog-info">
            {{ .Content }}
            <br>
            {{ range last 1 .Pages }}
                My first status was published on <span class="statuslog-count">{{ .Params.Date.Format "Jan 02 2006" }}</span>
            {{ end }}

            {{ range first 1 .Pages }}
                and my last on <span class="statuslog-count">{{ .Params.Date.Format "Jan 02 2006" }}</span>
            {{ end }}
        </div>

            {{ range .Pages }}
                <div class="statuslog">
                    <span>
                        {{ .Params.Emoji }} {{ .Content }}
                    </span>
                    <div class="statuslog-links">
                        <span>
                            <a href="https://may.status.lol/{{ .Params.Id }}">
                                <span class="tags-title">{{ .Params.Date.Format "Jan 02 2006 15:04" }}</span>
                            </a>
                        </span>
                        {{ if ne .Params.External_url "null" }}
                            <span>
                                <a href="{{ .Params.External_url }}">
                                    <span class="tags-title">conversation</span>
                                </a>
                            </span>
                        {{ end }}
                    </div>
                </div>
            {{ end }}

    </main>
{{ end }}
