<div class="project-card">
    <div class="project-card__tags">
        {{ with .Get "tags" }}
        {{ range $_, $v := split . "," }}
            <span>{{ $v }}</span>
        {{ end }}
        {{ end }}
    </div>

    <div class="project-card__title">
    {{ if isset .Params "name"}}
        {{ if isset .Params "url" }}
            <a href="{{ .Get "url" }}">{{ .Get "name" }}</a>
        {{ else }}
            {{ .Get "name" }}
        {{ end }}
    {{ end }}
    </div>

    <div>{{ .Inner }}</div>
</div>

